


input[type=text], input[type=submit], input[type=password] {
    background-color: white;
    border: 2px solid black;
    color: black;
    padding: 16px 32px;
    text-decoration: darkblue;
    margin:  2px 32px;
    cursor: pointer;
}
button[type=submit] {
    background-color: white;
    border: 2px solid black;
    color: black;
    padding: 10px 16px;
    text-decoration: darkblue;
    margin:  20px 10px;
    cursor: pointer;
}

.margin {
    margin-top: 100px;
}
